!!!
%html
  %head
    %title= @title || fix_dns || Config.title
    %script{:src => "http://yandex.st/highlightjs/6.1/highlight.min.js"}
    %link{:href => "http://fonts.googleapis.com/css?family=Arvo", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/style.css", :rel => "stylesheet", }
    :javascript
      hljs.initHighlightingOnLoad();
  %body
    #wrapper
      #header-wrapper
        #header
          #logo
            %h1
              %a{:href => "/"}= fix_dns || Config.title
            %p
              #{Config.author}
      / end #header
      #menu
        %ul
          %li.current_page_item
            %a{:href => "/"} Homepage
          %li
            %a{:href => "/past/tags/Blog"} Blog
          %li
            %a{:href => "/past/tags/Brewing"} Brewing
          %li
            %a{:href => "/past/tags/Bikes"} Bikes
          %li
            %a{:href => "/about"} About
      / end #menu
