!!!
%html
  %head
    %title= @title || Config.title
    %script{:src => "/js/jquery-1.7.min.js", :type => "text/javascript"}
    %link{:href => "http://fonts.googleapis.com/css?family=Arvo", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/style.css", :rel => "stylesheet", }
  %body
    #wrapper
      #header-wrapper
        #header
          #logo
            %h1
              %a{:href => "/"}= @stick_title || Config.title
            %p
              #{Config.author}
      / end #header
      #menu
        %ul
          %li.current_page_item
            %a{:href => "/"} Homepage
          %li
            %a{:href => "/past/tags/Blog"} Blog
          %li
            %a{:href => "/past/tags/Brewing"} Brewing
          %li
            %a{:href => "/past/tags/Bikes"} Bikes
          %li
            %a{:href => "past/2012/4/1/about/"} About
      / end #menu
