= partial("header")
#page
  #page-bgtop
    #page-bgbtm
      #content
        = yield
      / end #content
      = partial("sidebar")
    %div{:style => "clear: both;"}  
/ end #page
= partial("footer")
