#sidebar
  %ul
    %li
      %h2
        %a{:href => "https://twitter.com/#!/rgreget", :rel => "author", :style => "text-decoration:none;"}
          %img{:alt => "", :src => "/images/twitter-2.png"}/
        %a{:href => "https://plus.google.com/105586417904312833492?prsrc=3", :rel => "author", :style => "text-decoration:none;"}
          %img{:alt => "", :src => "https://ssl.gstatic.com/images/icons/gplus-32.png"}/
        %a{:href => "http://www.facebook.com/rgreget", :rel => "author", :style => "text-decoration:none;"}
          %img{:alt => "", :src => "/images/facebook.png"}/
        %a{:href => "http://www.linkedin.com/pub/ryan-greget/9/1a6/9a9", :rel => "author", :style => "text-decoration:none;"}
          %img{:alt => "", :src => "/images/linkedin.png"}/
        %a{:href => "/feed", :rel => "author", :style => "text-decoration:none;"}
          %img{:alt => "", :src => "/images/rss.png"}/
    %li
      %h2 Search
      #cse{:style => "width: 100%;"} Loading
      %script{:src => "http://www.google.com/jsapi", :type => "text/javascript"}
      :javascript
        google.load('search', '1', {language : 'en', style : google.loader.themes.MINIMALIST});
        google.setOnLoadCallback(function() {
          var customSearchOptions = {};  var customSearchControl = new google.search.CustomSearchControl(
            '012783288460260137237:efwxagutkr0', customSearchOptions);
          customSearchControl.setResultSetSize(google.search.Search.SMALL_RESULTSET);
          customSearchControl.draw('cse');
        }, true);
    %li
      %h2 Tags
      %ul
        %li
          %a{:href => "#"} Aliquam libero
        %li
          %a{:href => "#"} Consectetuer adipiscing elit
    %li
      %h2 Blogroll
      %ul
        %li
          %a{:href => "#"} Aliquam libero
        %li
          %a{:href => "#"} Consectetuer adipiscing elit
/ end #sidebar
